.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.upper_text {
    margin-top: 10%;
    color: orange;
    font-size: 4rem;
    font-weight: bold;
}

.lower_text {
    font-size: 2rem;
    color: #000080;
}