.card {
    margin: 24px;
    padding: 18px;
    height: 24vh;
    width: 26vw;
    box-sizing: border-box;
    background-color: navy;
    color: #ffffff;
    border-radius: 12px;
    border: 2px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);

    transition: transform 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
  }
